@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --bold-header-font-family: "Inter", Helvetica;
  --bold-header-font-size: 48px;
  --bold-header-font-style: normal;
  --bold-header-font-weight: 700;
  --bold-header-letter-spacing: 0px;
  --bold-header-line-height: 52px;
  --brandgreen-700: rgba(29, 191, 115, 1);
  --display-1-uppercase-semi-bold-font-family: "Inter", Helvetica;
  --display-1-uppercase-semi-bold-font-size: 12px;
  --display-1-uppercase-semi-bold-font-style: normal;
  --display-1-uppercase-semi-bold-font-weight: 600;
  --display-1-uppercase-semi-bold-letter-spacing: 0.96px;
  --display-1-uppercase-semi-bold-line-height: 18px;
  --display-2-regular-font-family: "Inter", Helvetica;
  --display-2-regular-font-size: 14px;
  --display-2-regular-font-style: normal;
  --display-2-regular-font-weight: 400;
  --display-2-regular-letter-spacing: 0px;
  --display-2-regular-line-height: 20px;
  --display-2-semi-bold-font-family: "Inter", Helvetica;
  --display-2-semi-bold-font-size: 14px;
  --display-2-semi-bold-font-style: normal;
  --display-2-semi-bold-font-weight: 600;
  --display-2-semi-bold-letter-spacing: 0px;
  --display-2-semi-bold-line-height: 20px;
  --display-3-semi-bold-font-family: "Inter", Helvetica;
  --display-3-semi-bold-font-size: 16px;
  --display-3-semi-bold-font-style: normal;
  --display-3-semi-bold-font-weight: 600;
  --display-3-semi-bold-letter-spacing: 0px;
  --display-3-semi-bold-line-height: 22px;
  --display-4-semi-bold-font-family: "Inter", Helvetica;
  --display-4-semi-bold-font-size: 18px;
  --display-4-semi-bold-font-style: normal;
  --display-4-semi-bold-font-weight: 600;
  --display-4-semi-bold-letter-spacing: 0px;
  --display-4-semi-bold-line-height: 24px;
  --display-5-semi-bold-font-family: "Inter", Helvetica;
  --display-5-semi-bold-font-size: 20px;
  --display-5-semi-bold-font-style: normal;
  --display-5-semi-bold-font-weight: 600;
  --display-5-semi-bold-letter-spacing: 0px;
  --display-5-semi-bold-line-height: 28px;
  --display-6-semi-bold-font-family: "Inter", Helvetica;
  --display-6-semi-bold-font-size: 24px;
  --display-6-semi-bold-font-style: normal;
  --display-6-semi-bold-font-weight: 600;
  --display-6-semi-bold-letter-spacing: 0px;
  --display-6-semi-bold-line-height: 32px;
  --display-7-semi-bold-font-family: "Inter", Helvetica;
  --display-7-semi-bold-font-size: 30px;
  --display-7-semi-bold-font-style: normal;
  --display-7-semi-bold-font-weight: 600;
  --display-7-semi-bold-letter-spacing: 0px;
  --display-7-semi-bold-line-height: 36px;
  --display-9-extra-bold-font-family: "Inter", Helvetica;
  --display-9-extra-bold-font-size: 48px;
  --display-9-extra-bold-font-style: normal;
  --display-9-extra-bold-font-weight: 800;
  --display-9-extra-bold-letter-spacing: 0px;
  --display-9-extra-bold-line-height: 48px;
  --neutral-colors-100: rgba(255, 255, 255, 1);
  --neutral-colors-800: rgba(33, 31, 84, 1);
  --neutral-colors100: rgba(255, 255, 255, 1);
  --neutral-colors300: rgba(241, 243, 247, 1);
  --neutral-colors600: rgba(109, 117, 143, 1);
  --neutral-shadow-02: 0px 1px 4px 0px rgba(25, 33, 61, 0.08);
  --paragraph-default-regular-font-family: "Inter", Helvetica;
  --paragraph-default-regular-font-size: 14px;
  --paragraph-default-regular-font-style: normal;
  --paragraph-default-regular-font-weight: 400;
  --paragraph-default-regular-letter-spacing: 0px;
  --paragraph-default-regular-line-height: 22px;
  --paragraph-medium-regular-font-family: "Inter", Helvetica;
  --paragraph-medium-regular-font-size: 16px;
  --paragraph-medium-regular-font-style: normal;
  --paragraph-medium-regular-font-weight: 400;
  --paragraph-medium-regular-letter-spacing: 0px;
  --paragraph-medium-regular-line-height: 24px;
  --primary-paletteblue: rgba(35, 136, 255, 1);
  --secondary-colorsblue-300: rgba(141, 193, 255, 1);
  --style-guide-icons-sidebar: 0px 1px 3px 0px rgba(35, 136, 255, 0.2);
  --system-dark: rgba(0, 18, 70, 1);
  --white: rgba(255, 255, 255, 1);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeft {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll-right {
  display: inline-flex;
  animation: scrollRight 20s linear infinite;
}

.animate-scroll-left {
  display: inline-flex;
  animation: scrollLeft 20s linear infinite;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
